@import 'settings';
@import 'common/layout';
@import 'common/colors';
@import 'common/typography';
@import 'components/resultsheader';
@import 'components/searchbar';

@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Poppins);


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontMain);
  background-color: var(--colorLightPink);
}

.header {
  font-family: 'Playfair Display', serif;  
}

.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
  font-family: 'Playfair Display', serif;
  background-color: var(--colorLightPink);  
}
