:root {

  --colorBrightRed:           #ff5c5c;
  --colorLightPink:           #fff4f4;
  --colorDarkGrey:            #3e4144;
  --colorBlack:               #000;
  --colorWhite:               #fff;
  --colorYellow:              yellow;
  --colorAthensGray:          #f5f5f6;
}
